@page
@model RazorPagesWithVenkat.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>The resource cannot be found</h1>

<a asp-page="/Employees/Index" class="btn btn-primary">
    go back home
</a>
